# Copy to .env and fill values before docker-compose up
JWT_KEY=ReplaceWithStrongRandomKeyBase64Or32Chars
JWT_ISSUER=your-issuer
JWT_AUDIENCE=your-audience

MONGO_CONN=mongodb://mongo:27017
MONGO_DB=FarmGrowDb

FILESTORE_SETTING=...