# Copy to .env and fill values before docker-compose up

FarmGrowDatabase__ConnectionString=mongodb://localhost:27017
FarmGrowDatabase__DatabaseName=EasyGrow_v1
FarmGrowDatabase__OwnerCollectionName=Owner
FarmGrowDatabase__FarmCollectionName=Farm
FarmGrowDatabase__CropCollectionName=Crop
FarmGrowDatabase__MaintainerCollectionName=Maintainer
FarmGrowDatabase__ActivityCollectionName=Activity
FarmGrowDatabase__ObservationCollectionName=Observation
FarmGrowDatabase__CropMasterCollectionName=CropMaster
FarmGrowDatabase__FertilizerInventoryCollectionName=FertilizerInventory
FarmGrowDatabase__DiseaseControlInventoryCollectionName=DiseaseControlInventory
FarmGrowDatabase__UsersCollectionName=Users
FarmGrowDatabase__OtpCollectionName=OtpSessions
FarmGrowDatabase__MagicLinksCollectionName=MagicLinks

AddressLoaderDatabase__ConnectionString=mongodb://localhost:27017
AddressLoaderDatabase__DatabaseName=AddressDirectory_v1
AddressLoaderDatabase__LgdLocationsCollectionName=LGDLocations
AddressLoaderDatabase__KarnatakaLocationsCollectionName=KarnatakaLocations
AddressLoaderDatabase__KarnatakaBhoomiDistrictMappingCollectionName=KarnatakaBhoomiDistrictMapping
AddressLoaderDatabase__KarnatakaStateName=Karnataka
  
Jwt__Issuer=EasyGrow
Jwt__Audience=EasyGrow-Users
Jwt__Key=Easy Grow web app secret key for accessing the app and api use this with caution and do not expose this key in public
  
FileStore__BaseFolderPath=C:\\EasyGrowFiles
FileStore__ImagesFolderName=Images
FileStore__AudioFolderName=Audio
FileStore__LGDDownloadedFolderName=LGD-Downloaded
FileStore__LGDProcessedFolderName=LGD-Processed
  
Cors__AllowedOrigins=http://localhost:4200:https://*.eazygrowindia.com/
  
SettingsSource=env.example